a {
  color: #3498db;
}

a:hover {
  color: #f39c12;
}

#cr-stage {
  border: 1px solid #000;
  margin: auto;
}

#credits {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-family: 'Montserrat';
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot?v=4.0.3');
  src: url('fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('fontawesome-webfont.woff?v=4.0.3') format('woff'), url('fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}